In [187]:
import musicbrainzngs
from musicbrainzngs import WebServiceError

musicbrainzngs.set_useragent("Nouserentered Song Analysis Project", "0.1.0", contact="matthew.shu@yale.edu"
                             )

In [188]:
from difflib import SequenceMatcher

# Modified from: https://stackoverflow.com/a/17388505
def match(orig_name, found_name):
    return SequenceMatcher(None, orig_name, found_name).ratio() > .7

In [189]:
def search_artist(artist_id: int, name: str):
    try:
        result = musicbrainzngs.search_artists(name)
    except WebServiceError as exc:
        print("Something went wrong with the request: %s" % exc)
    else:
        artist = result["artist-list"]
        if len(artist) != 0 and match(artist[0]["name"], name):
            # Currently just takes the top artist, isn't always great if there are multiple artists!
            top_artist = artist[0]
            top_artist["artist_id"] = artist_id
            return top_artist
        else:
            return {"name": name, "artist_id": artist_id}
def search_artist_series(artist_id: int, name: str):
    artist_data = search_artist(artist_id, name)
    if artist_data:
        return pd.json_normalize(artist_data).iloc[0]
    else:
        return

# Load Data

In [190]:
%load_ext dotenv
%dotenv

import os
import sqlite3
import pandas as pd

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [191]:
SQL_FILEPATH = os.getenv("PLAYBACK_FILE")
lyrics_db = sqlite3.connect(SQL_FILEPATH)

df = pd.read_sql_query("SELECT * FROM lyrics", lyrics_db)
print(df.head())

   index  track_id  year              artist  \
0      0         0  1944           Red Foley
1      1         1  1944  The King Cole Trio
2      2         2  1944        Louis Jordan
3      3         3  1944          Tex Ritter
4      4         4  1944        Louis Jordan

                                  track  rank  \
0                    Smoke On The Water     1
1           Straighten Up And Fly Right     2
2  Is You Is or Is You Ain't (Ma' Baby)     3
3           I'm Wastin' My Tears on You     4
4                          Ration Blues     5

                                                link  \
0  /charts/country/video/1944/red-foley-smoke-on-...
1  /charts/country/video/1944/the-king-cole-trio-...
2  /charts/country/video/1944/louis-jordan-is-you...
3  /charts/country/video/1944/tex-ritter-im-wasti...
4  /charts/country/video/1944/louis-jordan-ration...

                                              lyrics
0  Smoke On The Water LyricsThere will be a sad d...
1  Straighten Up and Fly Right LyricsA buzzard to...
2  Is You Is Or Is You Ain’t (ma Baby) LyricsBing...
3  List of Number One Country Songs Lyrics1944\nB...
4  Ration Blues LyricsBaby, baby, baby\nWhat's wr...

# Search Musicbrainz

In [192]:
small_df = df.head()
small_df

,index,track_id,year,artist,track,rank,link,lyrics
0,0,0,1944,Red Foley,Smoke On The Water,1,/charts/country/video/1944/red-foley-smoke-on-...,Smoke On The Water LyricsThere will be a sad d...
1,1,1,1944,The King Cole Trio,Straighten Up And Fly Right,2,/charts/country/video/1944/the-king-cole-trio-...,Straighten Up and Fly Right LyricsA buzzard to...
2,2,2,1944,Louis Jordan,Is You Is or Is You Ain't (Ma' Baby),3,/charts/country/video/1944/louis-jordan-is-you...,Is You Is Or Is You Ain’t (ma Baby) LyricsBing...
3,3,3,1944,Tex Ritter,I'm Wastin' My Tears on You,4,/charts/country/video/1944/tex-ritter-im-wasti...,List of Number One Country Songs Lyrics1944\nB...
4,4,4,1944,Louis Jordan,Ration Blues,5,/charts/country/video/1944/louis-jordan-ration...,"Ration Blues LyricsBaby, baby, baby\nWhat's wr..."

In [193]:
# https://datascience.stackexchange.com/a/89267
df['artist_id'] = pd.factorize(df['artist'])[0] + 1 # just don't want to start at 0

In [194]:
artists = df.artist.unique()
artists_head = artists
print(artists_head.size)

1177

In [195]:
df_unique_artists = df.groupby('artist', as_index=False).first()

In [197]:
artists_df = df_unique_artists.progress_apply(lambda row: search_artist_series(row["artist_id"], row["artist"]), axis=1)

  0%|          | 0/1177 [00:00<?, ?it/s]

In [198]:
artists_df.to_pickle("22-04-27-artists-pickle")

In [199]:
artists_df.columns = [i.replace('-', '_') for i in artists_df.columns]

1177

In [201]:
df['artist_appearances'] = df.groupby('artist_id')['artist_id'].transform('count')

In [202]:
artists_df.rename(columns={"id": "mb_id"})

,alias_list,area.id,area.life_span.ended,area.name,area.sort_name,area.type,artist_id,begin_area.id,begin_area.life_span.ended,begin_area.name,...,mb_id,ipi_list,isni_list,life_span.begin,life_span.end,life_span.ended,name,sort_name,tag_list,type
0,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5 Red Caps,NaN,NaN,NaN
1,NaN,489ce91b-6658-3307-9877-795b68554c98,false,United States,United States,Country,1030,e68879f9-bd95-41ff-96ba-c082ff37cc74,false,Nashville,...,ad3a1b29-ac6e-44c0-bd96-8b561bf5dcd7,NaN,NaN,2010,NaN,false,A Thousand Horses,"Thousand Horses, A","[{'count': '1', 'name': 'country'}]",Group
2,NaN,489ce91b-6658-3307-9877-795b68554c98,false,United States,United States,Country,1175,12c5fcaf-1f18-4907-a173-39ff71ce56bd,false,Rutland,...,86034d1d-f66e-426d-ad52-ca5511a9b428,[00345569338],[0000000100395995],1972-04-13,NaN,false,Aaron Lewis,"Lewis, Aaron","[{'count': '1', 'name': 'alternative metal'}, ...",Person
3,NaN,71bbafaa-e825-3e15-8ca9-017dcad1748b,false,Canada,Canada,Country,836,NaN,NaN,NaN,...,17dff070-e6e0-471c-9a77-057b5a20f5e3,NaN,NaN,1977-11-17,NaN,false,Aaron Lines,"Lines, Aaron",NaN,Person
4,"[{'sort-name': 'Tippen, Aaron', 'alias': 'Aaro...",489ce91b-6658-3307-9877-795b68554c98,false,United States,United States,Country,712,7f7aa0ff-b9ae-405d-8435-9dfdec421a47,false,Pensacola,...,59e22818-9da1-42be-bdd6-b1124b4a67b9,[00131984372],[0000000109686561],1958-07-03,NaN,false,Aaron Tippin,"Tippin, Aaron","[{'count': '2', 'name': 'country'}]",Person
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172,NaN,489ce91b-6658-3307-9877-795b68554c98,false,United States,United States,Country,799,NaN,NaN,NaN,...,0eb32acc-0b29-4aed-b5ba-25e5bc961a46,NaN,NaN,1986,2002,true,Yankee Grey,Yankee Grey,NaN,Group
1173,NaN,489ce91b-6658-3307-9877-795b68554c98,false,United States,United States,Country,917,8259f19d-6597-4b57-9e51-7709e1a5f2ed,false,Dahlonega,...,507226f4-0842-4f43-950e-81a7017230ec,NaN,NaN,2000,NaN,false,Zac Brown Band,"Brown, Zac, Band","[{'count': '1', 'name': 'country rock'}, {'cou...",Group
1174,NaN,NaN,NaN,NaN,NaN,NaN,1046,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Zach Seabaugh,NaN,NaN,NaN
1175,"[{'sort-name': 'Grishaw, William Edward', 'typ...",489ce91b-6658-3307-9877-795b68554c98,false,United States,United States,Country,111,NaN,NaN,NaN,...,f54c2737-eff7-4f48-a8ce-b8e1a58c96b0,NaN,NaN,1915-06-23,1978-01-10,true,Zeb Turner,"Turner, Zeb",NaN,Person
1176,"[{'sort-name': 'Manners, Leo', 'type': 'Artist...",489ce91b-6658-3307-9877-795b68554c98,false,United States,United States,Country,48,83f22bb6-4631-443c-bace-9fae8540362a,false,San Francisco,...,04d9c4b8-6fc7-40ff-9f68-db52a109aeb3,[00019371291],"[000000011679099X, 0000000108622849]",1911-10-10,2000-10-14,true,Zeke Manners,"Manners, Zeke",NaN,Person

In [204]:
artists_df.applymap(str).to_sql("artists", lyrics_db, if_exists="replace")
df.to_sql("lyrics", lyrics_db, if_exists="replace")

7418